@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

.ul {
    font-family: 'Roboto', sans-serif;
}

.fs-4 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;

}

.titulo {
    font-family: 'Times New Roman', Times, serif;
}

.card-img-top {
    font-family: 'Times New Roman', Times, serif;
}

.logo {
    width: 150px;
    object-fit: cover;
}

.bg-nav {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}

.nav-link {
    color: black;
    text-decoration: underline;
}

.card img {
    border: 50px;
    padding: 50px;

}

.card-group {
    border: none;
    padding: 20px;
    text-align: center;
    background-color: whitesmoke;
}

.carousel-inner {
    margin-top: 5px;
}

.col {
    margin-top: 5px;
    padding: 20px;
    font-size: 1rem;
}

.clearfix img {
    width: 550px;
}

/*.card img {
    width: 750px;
    margin-left: 300px;
    margin-bottom: none;
    
}