@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: whitesmoke; }

nav {
  background-color: lightblue;
  font-family: 'Times New Roman', Times, serif; }

.logo {
  width: 150px;
  object-fit: cover; }

nav ul {
  font-family: "Roboto", sans-serif; }

nav ul li {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
  text-decoration: underline; }

.titulo {
  text-decoration: underline;
  text-align: center; }

.clearfix {
  background-color: lightgray;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem; }

.inicio {
  width: 550px; }

p {
  padding: 20px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem; }

.carrusel {
  background-color: black;
  width: fit-content;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.servicios {
  width: 550px; }

footer {
  background-color: lightgray;
  padding-top: 1rem; }

.mb-3 {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif; }

.nosotros {
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
  width: 100%; }

.mision {
  width: 50%;
  justify-items: center; }

h3 {
  font-size: 2rem;
  text-align: center; }

p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem; }
