@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

$font-family-roboto: 'Roboto', sans-serif;

*{margin: 0;
padding: 0;
box-sizing: border-box;}

body {
    background-color: whitesmoke;}

nav {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;}
    .logo {
        width: 150px;
        object-fit: cover;}
        nav ul {
            font-family: $font-family-roboto;}
            nav ul li {
                font-family: Arial, Helvetica, sans-serif;
                line-height: 2rem;
                text-decoration: underline;}

.titulo { 
    text-decoration: underline;
    text-align: center;}

.clearfix {
        background-color: lightgray;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;}
        .inicio {
            width: 400px;
            border: 2px solid black;}
            p {
            padding: 20px;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 2rem; }

.carrusel {
    background-color: black;
    width: fit-content;
    padding-top: 2rem;
    padding-bottom: 2rem;}

.servicios {
    width: 400px;
    border: 2px solid black;}

footer {
    background-color: lightgray;
    padding-top: 1rem;}
    .mb-3 {
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;}

        .nosotros {
            background-color: lightgrey;
            display: flex; 
            justify-content: space-around;}
            .mision {
                width: 50%;
                border: 2px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;}
                h3 {
                    font-size: 2rem;
                    text-align: center;}
                    p{
                    font-size: 1rem;
                    font-family: Arial, Helvetica, sans-serif;
                    line-height: 2rem;}
        



