
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

$font-family-roboto: 'Roboto', sans-serif;
$coloruno: whitesmoke;
$colordos: lightgrey;

*{
margin: 0;
padding: 0;
box-sizing: border-box;}


body {
    background-color: $coloruno;
    }

    @mixin mobile {
        @media screen and (max-width: 576px) {
            @content;
        }
    }



@mixin tipografia {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    }

nav {
    background-color: lightblue;
    $font-family-roboto: 'Roboto', sans-serif;
    h1 {
        font-size: 1rem;
        color: black;}
        .logo {
            width: 150px;
            object-fit: cover;}
            nav ul {
                font-family: $font-family-roboto;}
                nav ul li {
                    @include tipografia;}
    }



.titulo {
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
    }

.clearfix {
    background-color: $colordos;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    .inicio {
        width: 400px;
        border: 2px solid black;}
        p{
            padding: 20px;
            text-align: justify;
            @include tipografia;} 
    }

.servicios {
    @extend .inicio
}
.nosotros {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    @include mobile {
        flex-direction: column;}
    .icono {
        font-size: 15rem;
        padding-top: 1rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style: none;
        color: #79C7CD;}
        h3{
            font-size: 2rem;
            text-align: center;}
                p{
                    padding: 20px;
                    text-align: justify;
                    @include tipografia;
                }
    }


.carrusel {
    background-color: black;
    width: fit-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
    }

.contacto {
    background-color: $colordos;
    padding-top: 1rem;
    padding-bottom: 2rem;
    .mb-3 {
        margin: 0 auto;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        }
    }

    footer {
        margin-top: 20px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: lightblue;
        p{
            font-size: 1rem;
            text-align: center;}
            .redes{
                display: flex;
                justify-content: space-around;}
                .redes img {
                    align-items: center;
                    width: 4%;
                    justify-content: space-around;
                    }
    }

